<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
      <ion-item>
          <ion-label position="floating">USUARIO</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">PASSWORD</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>

      
          <ion-button color="primary"  expand="full" routerLink="/profesor">ENTRAR</ion-button>
       
  

</ion-content>
