<ion-header>
  <ion-toolbar >
   
        
        
      <ion-item color="primary">
          <ion-avatar slot="start">
            <img src="assets/img1.png">
          </ion-avatar>
          <ion-label>ELIGIO MARTÍNEZ CARRILLO</ion-label>
        
        
        <ion-buttons slot="end">
            <ion-button routerLink="/home">
                <ion-icon name="log-out"></ion-icon>
            </ion-button>
          </ion-buttons>
           
        </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-list-header color="tertiary" >
          
          MATERIAS ASIGNADAS AGO-DIC 2019
           
        </ion-list-header>
       
            <ion-button  color="light"  expand="full" routerLink="/materias" >FUNDAMENTOS DE PROGRAMACIÓN S11</ion-button>
            <ion-button  color="light"  expand="full" routerLink="/materias2" >FUNDAMENTOS DE BASE DE DATOS S41</ion-button>
            <ion-button  color="light"  expand="full" routerLink="/materias3" >FUNDAMENTOS DE BASE DE DATOS S42</ion-button>
            <ion-button  color="light"  expand="full" routerLink="/materias4" >TALLER DE INVESTIGACIÓN II S71</ion-button>
          </ion-list>

</ion-content>
